<!DOCTYPE html>
<html>
  <head>
    <title>Error 404</title>
    <style>
      #error-box {
        margin: 10% auto;
        width: 50%;
        height: 200px;
        background-color: #f2f2f2;
        border-radius: 5px;
        text-align: center;
        padding-top: 50px;
      }
      h1 {
        color: #ff0000;
      }
    </style>
  </head>
  <body>
    <div id="error-box">
      <h1>Error 404</h1>
      <p>Lo siento, la página que estás buscando no existe.</p>
    </div>
  </body>
</html>
