<!DOCTYPE html>
<html>
<%- include('./inc/nav.ejs') %>
<title>Logikk's Dashboard - Votaciónes a Staff</title>
<nav class="navbar">
  <h2></h2>
</nav>
<div class="container mt-5">
  <h2 class="text-center mb-4">Economía del Discord</h2>



  <div class="categories">
    <div class="popular-links-card">
        <h2>Tabla de clasificación de la economía</h2>
        <div class="featured-video">
          <iframe src="https://unbelievaboat.com/leaderboard/901587289954730004/widget" width="450" height="500" style="border: 0;"></iframe>
        </div>
      </div>
      <div class="popular-links-card">
        <h2>Mi inventario</h2>
        <div class="featured-video">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore saepe officiis quam a, rerum rem. Provident accusantium dolorem velit mollitia, eveniet, sunt quod minus non eum porro pariatur, quos doloribus.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore saepe officiis quam a, rerum rem. Provident accusantium dolorem velit mollitia, eveniet, sunt quod minus non eum porro pariatur, quos doloribus.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore saepe officiis quam a, rerum rem. Provident accusantium dolorem velit mollitia, eveniet, sunt quod minus non eum porro pariatur, quos doloribus.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore saepe officiis quam a, rerum rem. Provident accusantium dolorem velit mollitia, eveniet, sunt quod minus non eum porro pariatur, quos doloribus.</p>
        </div>
      </div>
      <div class="popular-links-card">
        <h2>Gestor de colores capitalizados</h2>
        <div class="featured-video">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore saepe officiis quam a, rerum rem. Provident accusantium dolorem velit mollitia, eveniet, sunt quod minus non eum porro pariatur, quos doloribus.</p>
        </div>
      </div>
  </div>
</div>
</body>
</html>
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.popular-links-card {
      background-color: #444;
      padding: 20px;
      margin-top: 40px;
      transition: flex 0.3s ease;
      text-align: center;
    }
    .popular-links-card h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: #fff;
    }
    .popular-links {
      display: flex;
      flex-wrap: wrap;
    }
    .popular-link {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      margin-right: 10px;
      margin-bottom: 10px;
      text-decoration: none;
    }
    .popular-links .popular-link {
      color: white;
      text-decoration: none;
    }
    .popular-links .popular-link:hover {
      color: red;/
    }

body {
  background-color: #333;
  font-family: Arial, sans-serif;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.navbar h2 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.categories {
  margin-top: 20px;
  color: #fff;
}

.categories h3 {
  font-size: 18px;
  color: #ff4444;
}

.categories ul {
  list-style: none;
  padding: 0;
}

.categories li {
  margin-bottom: 5px;
}

.categories a {
  text-decoration: none;
  color: #ff4444;
  font-weight: bold;
}

.categories a:hover {
  text-decoration: underline;
}

.content {
  margin-top: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #444;
  border: 1px solid #555;
  color: #fff;
  border-radius: 4px;
}

</style>