<!DOCTYPE html>
<html>
<%- include('./inc/nav.ejs') %>
<title>Logikk's Dashboard</title>
&nbsp
<body>
  <div class="container mt-5">
    <% if (status === 'total') { %>
      <div class="alert alert-danger">Actualmente, hay una interrupción total del servicio. La aplicación no funcionará como lo esperado. Por favor venga más tarde.</div>
    <% } %>
    <% if (status === 'parcial') { %>
      <div class="alert alert-warning">Actualmente, hay una interrupción parcial del servicio. La aplicación puede funcionará como lo esperado.</div>
    <% } %>
  <% if (error === '403') { %>
  <div class="alert alert-danger">403 forbidden | El recurso que intenta acceder no está disponible a su nivel de permisos actual.</div>
  <% } %>
  <h1>Bienvenido, <%= user.username %>#<%= user.discriminator %></h1>
  <p>Puedes utilizar la barra superior para navegar por esta APP.</p>
</div>  
</body>
</html>
<style>
    body {
      background-color: #222;
      color: #fff;
      font-family: sans-serif;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #111;
      padding: 10px;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 0;
    }
    h2 {
      font-size: 2rem;
      margin-top: 0;
      opacity: 0.8;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }
    tr:hover {
      background-color: #444;
    }
    th {
      background-color: #111;
      color: #fff;
    }
    .button {
      display: inline-block;
      background-color: #fff;
      color: #333;
      border: 1px solid #333;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 4px;
      margin-top: 20px;
    }
    .button:hover {
      background-color: #333;
      color: #fff;
    }
</style>