<!DOCTYPE html>
<html>
<%- include('./inc/nav.ejs') %>
<title>Logikk's Dashboard - Trabajos Disponibles</title>
<html>
  <body>
    <div class="container mt-5">
      <% if (error === 'notavailable') { %>
        <div class="notification notification-warning">No es posible completar la petición, actualmente no estamos buscando interesados para la posición seleccionada</div>
      <% } %>  
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <h2 class="text-center mb-4">Trabajos</h2>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Trabajo</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Plazas</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Aplicar</th>
                </tr>
              </thead>
              <tbody>
                <!--<tr>
                  <td>Desarrollador Web</td>
                  <td>Creación y mantenimiento de sitios web.</td>
                  <td>2</td>
                  <td>Remunerado</td>
                  <td><a href="/apply/1" class="btn btn-primary">Aplicar</a></td>
                </tr>
                -->
                <tr>
                  <td>Moderador de Discord</td>
                  <td>Atender tickets, batallar por un buen ambiente e imponer la normativa del Discord.</td>
                  <td>0</td>
                  <td>Voluntario</td>
                  <td><a href="?error=notavailable" class="btn btn-primary">Aplicar</a></td>
                </tr>
                <tr>
                  <td>Ayudante BSS</td>
                  <td>Ayudar a los usuarios con sus dudas de Bee Swarm Simulator en el Discord (Esta posición no está afiliada con el staff)</td>
                  <td>0</td>
                  <td>Voluntario</td>
                  <td><a href="?error=notavailable" class="btn btn-primary">Aplicar</a></td>
                  </tr>                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>
<style>
    body {
      background-color: #333;
      color: #fff;
      font-family: sans-serif;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #222;
      border-radius: 10px;
    }

    h2 {
      color: #ff4444;
      text-align: center;
      margin-bottom: 30px;
    }

    th, td {
      color: #fff;
      border-color: #444;
    }

    .btn-primary {
      background-color: #ff4444;
      border-color: #ff4444;
    }

    .btn-primary:hover {
      background-color: #cc0000;
      border-color: #cc0000;
    }
    .notification {
      margin: 20px 0;
      padding: 10px;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
    }
    .notification-danger {
      background-color: #dc3545;
      color: #fff;
    }
    .notification-warning {
      background-color: #ffc107;
      color: #333;
    }
</style>
</html>
