<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página web oficial del Discord de Logikk. Creador de contenido de Bee Swarm Simulator. Desde aquí puedes controlar varías acciones.">
    <meta name="keywords" content="list, of, keywords, related, to, your, website">
    <meta name="author" content="Logikk Media">
    <meta property="og:title" content="Logikk's Dashboard">
    <meta property="og:description" content="Página web oficial del Discord de Logikk. Creador de contenido de Bee Swarm Simulator. Desde aquí puedes controlar varías acciones.">
    <meta property="og:image" content="https://crujera.galnod.com/img/logikk.png">
    <meta property="og:url" content="https://logikk.galnod.com">
    <meta property="og:type" content="website">
    <title>Logikk's Dashboard - Iniciar sesión con Discord</title>
    <style>
        body {
            background-color: #1c1e22;
            color: white;
            font-family: sans-serif;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            display: flex;
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            background: linear-gradient(to top right, #343a40, #252525);
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .photo-section {
            flex: 1;
            background-image: url('https://crujera.galnod.com/img/logikk.png');
            background-size: cover;
            background-position: center;
            clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 70%);
        }

        .login-section {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: #252525;
            clip-path: polygon(0% 30%, 100% 0, 100% 100%, 0% 100%);
            border-left: 2px solid #444;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        h1 {
            font-size: 36px;
            margin-top: 0;
        }

        h2 {
            font-size: 26px;
            margin-top: 0;
        }

        .discord-button {
            text-decoration: none;
            background-color: #9a9b9c;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 18px;
            margin-top: 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .discord-icon {
            width: 30px;
            margin-right: 10px;
        }

        p {
            font-size: 12px;
            margin-top: 20px;
            text-align: center;
        }

        .cookie-banner {
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
            padding: 10px;
            background-color: #333;
            color: #fff;
            font-size: 14px;
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .cookie-button {
            background-color: #fff;
            color: #333;
            padding: 8px 16px;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            margin-left: 16px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .cookie-banner p {
            margin: 0;
        }

        footer {
            position: absolute;
            bottom: 10px;
            right: 10px;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="photo-section"></div>
        <div class="login-section">
            <h1>Logikk's Dashboard</h1>
            <h2>Inicia sesión para continuar</h2>
            <a href="/auth/discord" class="discord-button"><i class="fab fa-discord"></i> Continuar con Discord</a>
            <p>Al utilizar este servicio estás de acuerdo con nuestra <a href="/legal/privacidad">Política de Privacidad</a> y <a href="/legal/tos">Términos de Servicio</a></p>
        </div>
    </div>
    <div class="cookie-banner">
        <p>Este sitio web utiliza cookies para garantizar que obtengas la mejor experiencia en nuestro sitio web. Si continúa utilizándolo, asumiremos de que está de acuerdo.</p>
    </div>
    <footer>
        <% if (devVersion) { %>
            <p>⚠️ Esta página web utiliza una versión no oficialmente publicada por <a href="https://crujera.galnod.com">Crujera</a></p> 
            <p>⚠️ versiones pueden ser muy inestables y no están recomendadas para producción.</p>
        <% } %>
        <p>Logikk's Dashboard v.<%= version %> developed with ❤️ by <a href="https://crujera.galnod.com">Crujera</a></p>
    </footer>
</body>
</html>