<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../inc/nav.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logikk's Dashboard - Nuestro equipo 仇벒잺</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center">Nuestro equipo</h2>
        <h1 class="text-center">Estrellas 游</h1>
        <div class="card-container">
            <!-- Staff 0 -->
            <div class="card">
                <img src="img/team/logikkyt.png" alt="logikkyt">
                <div class="card-content">
                    <h3>logikkyt</h3>
                    <p>La mayor estrella ca칤da del cielo</p>
                    <div class="social-links">
                        <a href="https://www.youtube.com/c/LogikkYT" target="_blank" class="btn btn-primary">YouTube</a>
                        <a href="https://twitter.com/logikk4" target="_blank" class="btn btn-primary">Twitter</a>
                        <a href="https://www.twitch.tv/logikkyt" target="_blank" class="btn btn-primary">Twitch</a>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center">M치nagers 游눺</h1>
        <div class="card-container">
            <!-- Staff 1 -->
            <div class="card">
                <img src="https://crujera.galnod.com/img/logo.png" alt="crujera27_3">
                <div class="card-content">
                    <h3>crujera27_3</h3>
                    <p>Staff M치nager & Developer (Web y Discord)</p>
                    <a href="https://crujera.galnod.com?utm_source=logikkdash&utm_medium=teamlist&utm_campaign=promotion&utm_id=1" target="_blank" class="btn btn-primary">Sitio web</a>
                    </div>
            </div>
            <!-- Staff 2 -->
            <div class="card">
                <img src="img/team/pundo23.png" alt="pundo23">
                <div class="card-content">
                    <h3>pundo23</h3>
                    <p>Community M치nager</p>
                </div>
            </div>     
        <h1 class="text-center">Administradores 游댢</h1>
        <div class="card-container">
            <!-- Staff 1 -->
            <div class="card">
                <img src="img/team/zaibiti.png" alt="zaibiti">
                <div class="card-content">
                    <h3>zaibiti</h3>
                    <p>Coordinador departamento correcciones disciplinarias a miembros & Asistente de soporte</p>
                </div>
            </div>
        </div>
        <h1 class="text-center">Moderadores 游댢</h1>
        <div class="card">
          <img src="img/team/benson.png" alt="benson">
          <div class="card-content">
              <h3>itsbenson</h3>
              <p>Dpo. Correcciones disciplinarias a miembros & Asistente de soporte</p>
          </div>
          <div class="social-links">
            <a href="https://steamcommunity.com/profiles/76561198835701419" target="_blank" class="btn btn-primary">Steam</a>
            <a href="https://twitter.com/BensonColombia" target="_blank" class="btn btn-primary">Twitter</a>
            <a href="https://www.youtube.com/channel/UCXbBd7H7pQUs9D6RbnW0PIA" target="_blank" class="btn btn-primary">YouTube</a>
        </div>
    </div>
  <div class="card">
    <img src="img/team/caleb_peralta.png" alt="caleb_peralta">
    <div class="card-content">
        <h3>caleb_peralta</h3>
        <p>Dpo. Correcciones disciplinarias a miembros & Asistente de soporte</p>
    </div>
</div>  
<div class="card">
  <img src="img/team/lototruco.png" alt="caleb_peralta">
  <div class="card-content">
      <h3>lototruco</h3>
      <p>Dpo. Correcciones disciplinarias a miembros & Asistente de soporte</p>
      <div class="social-links">
        <a href="https://steamcommunity.com/profiles/76561199196725284" target="_blank" class="btn btn-primary">Steam</a>
        <a href="https://open.spotify.com/user/mwp8udw2m89439b2hkf343010" target="_blank" class="btn btn-primary">Spotify</a>
    </div>
</div>
</div>
        <div class="disclaimer">
            Este sitio web proporciona informaci칩n que puede cambiar con el tiempo y se presenta 칰nicamente con fines informativos. Las im치genes y avatares pueden contener contenido con derechos de autor propiedad de terceros, y Logikk's Dash no tiene afiliaci칩n con los propietarios de dichos derechos. Los enlaces externos redirigen a sitios web de terceros. Logikk's Dash no se hace responsable del contenido ni de las pol칤ticas de privacidad de estos sitios. Los usuarios acceden a ellos bajo su propia responsabilidad. El uso de este sitio web implica la aceptaci칩n de estos t칠rminos y condiciones.
        </div>
    </div>
    </div>
</body>
<style>
body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
}

h2 {
    color: #ff4444;
    text-align: center;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-content {
    padding: 20px;
}

.card h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: #222; /* Darker text color */
}

.card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #ff4444;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-links a:hover {
    background-color: #cc0000;
}

.disclaimer {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    background-color: #dc3545;
    color: #fff;
}
</style>
</html>