<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../inc/nav.ejs') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Logikk's Dashboard - Nuestro equipo ❤️</title>
        <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Nuestro equipo</h1>
        <div class="card-container">
            <!-- Staff 0 -->
            <div class="card">
                <img src="img/team/logikkyt.png" alt="logikkyt">
                <div class="card-content">
                    <h3>logikkyt</h3>
                    <p>Estrella caída del cielo</p>
                    <div class="social-links">
                        <a href="https://www.youtube.com/c/LogikkYT" target="_blank" class="btn btn-primary">YouTube</a>
                        <a href="https://twitter.com/logikk4" target="_blank" class="btn btn-primary">Twitter</a>
                        <a href="https://www.twitch.tv/logikkyt" target="_blank" class="btn btn-primary">Twitch</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <!-- Staff 1 -->
            <div class="card">
                <img src="https://crujera.galnod.com/img/logo.png" alt="crujera27_3">
                <div class="card-content">
                    <h3>crujera27_3</h3>
                    <p>Staff Mánager & Developer (Web y Discord)</p>
                    <a href="https://crujera.galnod.com?utm_source=logikkdash&utm_medium=teamlist&utm_campaign=promotion&utm_id=1"
                        target="_blank" class="btn btn-primary">Sitio web</a>
                </div>
            </div>
            <!-- Staff 2 -->
            <div class="card">
                <img src="img/team/pundo23.png" alt="pundo23">
                <div class="card-content">
                    <h3>pundo23</h3>
                    <p>Community Mánager</p>
                </div>
            </div>
            <div class="card-container">
                <!-- Staff 1 -->
                <div class="card">
                    <img src="img/team/zaibiti.png" alt="zaibiti">
                    <div class="card-content">
                        <h3>zaibiti</h3>
                        <p>Dpo. Coordinación Estratégica y Gestión Organizativa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="img/team/benson.png" alt="benson">
                <div class="card-content">
                    <h3>itsbenson</h3>
                    <p>Dpo. Certidumbre y Seguridad</p>
                </div>
                <div class="social-links">
                    <a href="https://steamcommunity.com/profiles/76561198835701419" target="_blank"
                        class="btn btn-primary">Steam</a>
                    <a href="https://twitter.com/BensonColombia" target="_blank" class="btn btn-primary">Twitter</a>
                    <a href="https://www.youtube.com/channel/UCXbBd7H7pQUs9D6RbnW0PIA" target="_blank"
                        class="btn btn-primary">YouTube</a>
                </div>
            </div>
            <div class="card">
                <img src="img/team/caleb_peralta.png" alt="caleb_peralta">
                <div class="card-content">
                    <h3>caleb_peralta</h3>
                    <p>Dpo. Certidumbre y Seguridad</p>
                </div>
            </div>
            <div class="card">
                <img src="img/team/lototruco.png" alt="caleb_peralta">
                <div class="card-content">
                    <h3>lototruco</h3>
                    <p>Dpo. Certidumbre y Seguridad.</p>
                    <div class="social-links">
                        <a href="https://steamcommunity.com/profiles/76561199196725284" target="_blank"
                            class="btn btn-primary">Steam</a>
                        <a href="https://open.spotify.com/user/mwp8udw2m89439b2hkf343010" target="_blank"
                            class="btn btn-primary">Spotify</a>
                    </div>
                </div>
            </div>
            <div class="disclaimer">
                <small>Este sitio web proporciona información que puede cambiar con el tiempo y se presenta únicamente con
                fines informativos. Las imágenes y avatares pueden contener contenido con derechos de autor propiedad de
                terceros, y Logikk's Dash no tiene afiliación con los propietarios de dichos derechos. Los enlaces
                externos redirigen a sitios web de terceros. Logikk's Dash no se hace responsable del contenido ni de
                las políticas de privacidad de estos sitios. Los usuarios acceden a ellos bajo su propia
                responsabilidad. El uso de este sitio web implica la aceptación de estos términos y condiciones.</small>
            </div>
        </div>
    </div>
</body>
<style>
    body {
        background-color: #333;
        color: #fff;
        font-family: sans-serif;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #222;
        border-radius: 10px;
    }

    h2 {
        color: #ff4444;
        text-align: center;
        margin-bottom: 30px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 250px;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        margin: 10px;
        text-align: center;
    }

    .card img {
        max-width: 100%;
        height: auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-content {
        padding: 20px;
    }

    .card h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
        color: #222;
    }

    .card p {
        font-size: 16px;
        color: #666;
        margin-bottom: 20px;
    }


    .social-links {
        margin-top: 20px;
    }

    .social-links a {
        display: inline-block;
        margin-right: 10px;
        text-decoration: none;
        color: #fff;
        background-color: #ff4444;
        padding: 5px 15px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .social-links a:hover {
        background-color: #cc0000;
    }

    .disclaimer {
        margin: 15px 0;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        background-color: #dc3545;
        color: #fff;
    }
</style>

</html>