<!DOCTYPE html>
<html>
<head>
  <title>Logikk's Dashboard - Cuenta suspendida</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #333;
      color: #fff;
      font-family: sans-serif;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #111;
      padding: 10px;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #222; /* Darken the background color */
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 0;
      color: #fff; /* Set text color to white */
    }
    p {
      font-size: 1.2rem;
      opacity: 0.8;
      margin-top: 10px;
      color: #ccc; /* Lighten the text color */
    }
    a {
      color: #007BFF;
      text-decoration: none;
    }
    a:hover {
      color: #0056b3;
    }
    .button {
      display: block;
      width: fit-content; /* Make the button width fit its content */
      margin: 0 auto; /* Center align the button */
      background-color: #007BFF;
      color: #fff;
      border: none;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
      font-size: 1rem;
      transition: background-color 0.3s ease;
      margin-top: 20px;
    }
    .button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="">Logikk's Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"></a>
        </li>
        <% if (user.isStaff) { %>
          <li class="nav-item">
            <a class="nav-link" href="/staff"></a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/warns"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tickets"></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if (user.discriminator === "0") { %>
              @<%= user.username %>
            <% } else { %>
              <%= user.username %>#<%= user.discriminator %>
            <% } %>
          </a> 
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/logout">Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-5">
    <h1>🔒 | Cuenta suspendida</h1>
    <p>Esta cuenta se encuentra actualmente suspendida indefinidamente por incumplir nuestros <a href="/legal/tos">Términos de Servicios</a>. No hay forma de apelar esta sanción.</p>
    <a href="/logout" class="button">Cerrar sesión</a>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNVeG6w" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
