<!DOCTYPE html>
<html>
<%- include('../inc/nav.ejs') %>
<title>Logikk's Dashboard - Nuevo ticket de soporte</title>
&nbsp
<body>
    <div class="container mt-5">
    <h1>Hola, <%= user.username %>#<%= user.discriminator %>. ¿Cómo te podemos ayudar?</h1>
    <form method="POST" action="/support/enviado">
        <div class="form-group">
          <label for="userid">ID de Discord: </label>
          <input type="text" class="form-control" id="userid" name="userid" value="<%= user.discord_id %>" readonly>
        </div>
        <div class="form-group">
          <label for="category">Categoría:</label>
          <select class="form-control" id="category" name="category">
            <option value="1">Presentar una apelación formal en relación a un ban que me ha sido aplicado de manera incorrecta. (PROPORCIONA INFORMACIÓN ADICIONAL DEBAJO)</option>
            <option value="2">Presentar una apelación formal en relación a un warn leve que me ha sido aplicado de manera incorrecta. (PROPORCIONA INFORMACIÓN ADICIONAL DEBAJO)</option>
            <option value="3">Presentar una apelación formal en relación a un warn medio que me ha sido aplicado de manera incorrecta. (PROPORCIONA INFORMACIÓN ADICIONAL DEBAJO)</option>
            <option value="4">Presentar una apelación formal en relación a un warn grave que me ha sido aplicado de manera incorrecta. (PROPORCIONA INFORMACIÓN ADICIONAL DEBAJO)</option>
            <option value="5">Presentar una apelación formal en relación a un timeout que me ha sido aplicado de manera incorrecta. (PROPORCIONA INFORMACIÓN ADICIONAL DEBAJO)</option>
            <option value="6">Presentar una apelación formal en relación a un warn medio que me ha sido aplicado de manera incorrecta. (PROPORCIONA INFORMACIÓN ADICIONAL DEBAJO)</option>
            <option value="7">Solicitar formalmente la eliminación de toda mi información del sistema y mi suspensión indefinida de este mismo. (PROPORCIONA CORREO ELECTRÓNICO DE CONTACTO DEBAJO)</option>
          </select>
          <div class="form-group">
            <label for="reason">Notas adicionales:</label>
            <textarea class="form-control" id="reason" name="reason" rows="4" cols="50" required></textarea>
          </div>          
        </div>
        <button type="submit" class="btn btn-primary">Enviar solicitud</button>
      </form>
      </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNVeG6w" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
<style>
    body {
      background-color: #222;
      color: #fff;
      font-family: sans-serif;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #111;
      padding: 10px;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 0;
    }
    h2 {
      font-size: 2rem;
      margin-top: 0;
      opacity: 0.8;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }
    tr:hover {
      background-color: #444;
    }
    th {
      background-color: #111;
      color: #fff;
    }
    .button {
      display: inline-block;
      background-color: #fff;
      color: #333;
      border: 1px solid #333;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 4px;
      margin-top: 20px;
    }
    .button:hover {
      background-color: #333;
      color: #fff;
    }
</style>